<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <p>魏彪毅个人博客</p>
        <div class=recordcode><a href="http://icp.chinaz.com/info?q=wbyweb.com" target=_blank><i></i>京ICP备18052248号</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://tongji.baidu.com/web/welcome/ico?s=84d33de127b3813f8a93e5eb9bed6620" target="_blank">百度统计分析</a></div>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
</body>
</html>