<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全栈开发</title>
    <meta name="keywords" content="魏彪毅个人博客,全栈开发,个人技术分享,全栈技术分享,Full Stack,个人博客,WEB学习" />
    <meta name="description" content="小白程序员的百万年薪|如何学习java|如何学习SpringBoot|如何学习Spring|快速SpringBoot建站" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script type="text/javascript">
        window.location.href="/article/index/1";
    </script>
</body>
</html>